.one{
    width: 20%;
    float: left;
    background-color: aquamarine;
}
.two{
    width: 50%;
    float: left;
    background-color: blueviolet;
}
.three{
    width: 27%;
    float: left;
    background-color: brown;
}

@media screen and (max-width: 960px){
    .one, .two, .three{
        width: 50%;
    }
    
}
@media screen and (max-width: 600px) {
    .one, .two, .three{
        width: 100%;
    }
}